{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes List</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style_note_list.css' %}" />
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="row justify-content-md-center ms-5">
      <div class="mt-1 mb-2">
        <h2 class="text-center fw-bold">NOTES LIST</h2>
      </div>
      {% if notes %} {% for note in notes %}
      <div
        class="
          crd
          text-light
          bg-primary
          mt-2
          mb-3
          me-3
          rounded-2
          shadow-lg
          card
        "
        style="max-width: 18rem"
      >
        <div class="card-header">From: {{ note.From }}</div>
        <div class="card-header">To: {{ note.to }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">{{ note.message }}</p>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
