<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Note</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
        crossorigin="anonymous"
    />
</head>
<body>
    <div class="container mt-5">
        <form action="" method="POST" class="bg-white p-5 rounded shadow">
            {% csrf_token %}
            <div class="mb-3">
                <h3 class="text-primary"><strong>Update Note</strong></h3>
            </div>
            <div class="mb-3">
                <label class="form-label" for="">From:</label>
                <br />
                {{ form.From }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="">To:</label>
                <br />
                {{ form.to }}
            </div>
            <div class="mb-3">
                <label for="">Title:</label>
                <br />
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="">Message:</label>
                <br />
                {{ form.message }}
            </div>
            <div class="mt-3">
                <input
                type="submit"
                class="btn btn-primary btn-rounded"
                value="Update"
                />
            </div>
        </form>
    </div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"
    ></script> 
</body>
</html>