<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-lg">
      <table
        class="
          table table-bordered
          text-dark
          border-light
          caption-top
          table-hover table-striped
        "
      >
        <caption class="ms-5 fs-4 fw-bold">
          Notes List
        </caption>
        <thead>
          <tr class="text-center">
            <th scope="col">To</th>
            <th scope="col">From</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if notes %} {% for note in notes %}
          <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.From }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
            <td>
              <a href="notes/{{ note.id }}">
                <button id="view" class="btn btn-primary"> View</button> 
              </a> 
              <a href="notes/{{ note.id }}/update">
                <button class="btn btn-warning"> Edit</button> 
              </a>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{note.id}}">
                Delete
              </button>
              <!-- <a id="sumtitt" class="btn btn-danger somting " onclick="" href="notes/{{ note.id }}/delete">  Yes,delete this note</a> -->
                  <!-- Modal -->
               <div class="modal fade" id="staticBackdrop{{note.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">            
                        <h5 class="modal-title" id="staticBackdropLabel">Are you want to delete this item ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                      </div>
                      <div class="modal-body">
                        <p> Post that has been deleted cannot be restored</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a type="button" class="btn btn-danger" href="notes/{{ note.id }}/delete">Yes, delete this one</a>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>
    <script>
        var myModal = document.getElementById('staticBackdrop')
        var myInput = document.getElementById('modal-trigger')

        myModal.addEventListener('shown.bs.modal', function () {
          myInput.focus()
        })

    </script>
  </body>
</html>
