<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friend List</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 20px;
      }
      .tabel {
        margin-top: 40px;
        margin-left: 30px;
        border: 3px solid black;
      }
      .isitabel {
        padding-left: 10px;
        padding-right: 10px;
      }
    </style>
  </head>
  <body>
    <table class="tabel" border="3">
      <tr>
        <th class="isitabel" style="padding-right: 5px">Name</th>
        <th class="isitabel">NPM</th>
        <th class="isitabel">DOB</th>
      </tr>
      {% if friends %} {% for friend in friends %}
      <tr>
        <td class="isitabel">{{ friend.name }}</td>
        <td class="isitabel">{{ friend.npm }}</td>
        <td class="isitabel">{{ friend.dob }}</td>
      </tr>
      {% endfor %} {% endif %}
    </table>
  </body>
</html>
