<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Add Friend</title>
    <style>
      body {
        font-weight: bold;
      }
      .container {
        width: 300px;
        border: 3px solid black;
        margin-top: 30px;
        margin-left: 30px;
        padding: 0 10px 10px;
      }

      input {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Add a Friend</h2>
      <form action="" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
