<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note</title>
    <style>
      table {
        margin: auto;
        margin-top: 30px;
        font-size: 18px;
      }
      th {
        padding: 5px;
      }
      h1 {
        text-align: center;
      }
      td {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Table Notes</h1>
    <table border="3">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %} {% for note in notes %}
      <tr>
        <td>{{ note.to }}</td>
        <td>{{ note.From }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.message }}</td>
      </tr>
      {% endfor %} {% endif %}
    </table>
  </body>
</html>
