<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: sans-serif;
        font-size: 20px;
      }
      .tabel {
        margin-top: 40px;
        margin-left: 30px;
        border: 3px solid black;
      }
      .isitabel {
        padding-left: 10px;
      }
    </style>
    <title>Friend List</title>
  </head>
  <body>
    <table class="tabel" border="3">
      <tr>
        <th class="isitabel" style="padding-right: 5px">Name</th>
        <th class="isitabel">NPM</th>
        <th class="isitabel">DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} {% for friend in friends %}
      <tr>
        <td class="isitabel">{{ friend.name }}</td>
        <td class="isitabel">{{ friend.npm }}</td>
        <td class="isitabel">{{ friend.dob }}</td>
      </tr>
      {% endfor %} {% endif %}
      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </table>
  </body>
  <!-- <tr>
  </tr> -->
  <!-- <td>Asmara Nugi</td>
  <td>1706032156</td>
  <td>May 1, 1999</td> -->
  <!-- <td>Fadli Rais</td>
  <td>1706032370</td>
  <td>Sept 11, 1998</td> -->
</html>
